<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT-APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <link href="../public/css/chat-window.css" rel="stylesheet">
</head>
<body>
    <div id="main">

        <div id="container1">
            <div id="groupContainer" class="container1-content">
                <div id="groupContainer-header">
                    <img src="../public/image/user.JPG" alt="display.JPG" class="display-img"/>
                    <div id="profileNameDiv"></div>
                    <button id="newChatBtn" onclick="generateGroupForm()">New Chat/Group</button>
                </div>
                <div id="groupContainer-body"></div>
            </div>
            <div id="groupFormContainer" class="container1-content hidden">
                <div id="groupForm-body" class="container1-body">
                    <button class="cancelGrpBtn" onclick="container1Cancel()">cancel</button>
                    <input type="text" id="groupName-create" class="groupName" placeholder="Group Name" required><br>
                    <textarea id="groupDescription-create" class="groupDescription" placeholder="Group Description"></textarea><br>
                    <label for="group-userSearch-create">Group Members:</label>
                    <input type="text" id="group-userSearch-create" class="group-userSearch" placeholder="search.."><br>
                    <div id="usersList-container-create" class="userList-container"></div>
                    <button class="button" id="createGrpBtn" onclick="createGroup()">create</button>
                </div>
            </div>
            <div id="editGroupContainer" class="container1-content hidden">
                <div id="groupForm-body" class="container1-body">
                    <button class="cancelGrpBtn" onclick="container1Cancel()">cancel</button>
                    <input type="text" id="groupName-edit" class="groupName" placeholder="Group Name" required><br>
                    <textarea id="groupDescription-edit" class="groupDescription" placeholder="Group Description"></textarea><br>
                    <button id="updateGroupBtn" class="adminBtns" onclick="updateGroup()">update</button><br><br>
                    <label for="memberList-container">Members:</label>
                    <div id="memberList-container" class="userList-container"></div>
                    <button id="addMemberFormBtn" class="adminBtns" onclick="generateAddMemberForm()">Add Members</button><br>
                </div>
            </div>

            <div id="addMemberContainer" class="container1-content hidden">
                <div id="addMemberForm-body" class="container1-body">
                    <button class="cancelGrpBtn" onclick="container1Cancel()">cancel</button><br><br>
                    <label for="group-userSearch-edit">Add Members:</label>
                    <input type="text" id="group-userSearch-edit" class="group-userSearch" placeholder="search.."><br>
                    <div id="usersList-container-edit" class="userList-container"></div>
                    <button id="addMemberBtn" class="adminBtns" onclick="addUsers()">ADD</button><br>
                </div>
            </div>
        </div>

        <div id="container2">
            <div id="container2-chat" class="hidden">
                <div id="chat-header">
                    <button id="editGroupBtn" onclick="generateEditGroup()"></button>
                </div>
                <div id="chat-body"></div>
                <div id="chat-footer">
                    <button id="emojiBtn"><img src="../public/image/emojiBtn.png" alt="emj"></button>
                    <input type="text" id="messageBox" placeholder="Your message here...."></input>
                    <div id="attachmentBtn"><img src="../public/image/attachmentBtn.png" alt="atch"></div>
                    <button id="sendBtn"><img src="../public/image/senBtn.png" alt="snd"></button>
                </div>
            </div>
            <div id="container2-default"></div>
        </div>

    </div>

    <script src="../public/js/chat-main.js" rel="javascript"></script>
    <script src="../public/js/chat-emoji.js" rel="javascript"></script>
    <script src="../public/js/chat-message.js" rel="javascript"></script>
</body>
</html>