<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link href="../public/css/user.css" rel="stylesheet">
</head>
<body>
    <div class="authContainer">
        <form id="signupform" class="authContainer-form">
            <div id="display-image-container">
                <img src="../public/image/user.JPG" alt="display-form-image" id="display-img-form"/>
            </div>
            <table id="singuptable" class="authContainer-table">
                <tr class="table_row">
                    <td class="table_data"><input type="text" name="email_phone" id="email_phone" placeholder="Email / Phone" required></td>
                </tr>                
                <tr class="table_row">
                    <td class="table_data"><input type="password" name="password" id="password" placeholder="Password" required></td>
                </tr>
                <tr class="table_row">
                    <td class="table_data"><a href="#" name="forgotpsswd" id="forgotpsswd"><p><a href="forget-password.html">Forgot Passowrd?</a></p></td>
                </tr>
                <tr class="table_row">
                    <td class="table_data"><button id="signin" class="submitBtn">Sign In</button></td>
                </tr>
            </tr>
            <tr class="table_row">
                <td class="table_data">Or &nbsp;<a href="sign-up.html">Sign Up</a></td>
            </tr>
            </table>
        </form>
    </div>

    <script src="../public/js/user.js" rel="javascript"></script>
</body>
</html>