* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    display: flex;
    justify-content: center;
    /* border: 5px solid orange; */
    background-color: rgba(77, 76, 76, 0.558);
}

#main {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 5vh;
    height: 90vh;
    width: 100%;
}   


#chat-header{
    width: 100%;
    height: 8%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(79, 120, 242, 0.537);
}

#chat-body{
    width: 100%;
    height: 84%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#chat-footer{
    width: 100%;
    height: 8%;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageBox {
    padding: 0 1rem;
    height: 80%;
    width: 70%;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 25px;
}


 #emojiBtn, #attachmentBtn, #sendBtn {
    width: 40px; /* Adjust the width percentage as needed */
    height: 40px; /* Adjust the height percentage as needed */
    max-width: 40px; /* Optionally set a max-width */
    max-height: 40px; /* Optionally set a max-height */
    border-radius: 50%;
    background-color: rgba(221, 218, 218, 0.859);
    border: 2px solid black;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1%;
    padding: 0.2rem;
}

#sendBtn{
    background-color: orangered;
}

#emojiBtn img,
#attachmentBtn img,
#sendBtn img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}



/* ------------------------------------------------------------------------ */

.joinMsg{
    text-align: center;
    margin: 0 35%;
    width: 30%;
    background-color: rgba(220, 220, 220, 0.738);
    border: 1px solid black;
    border-radius: 10px;
}